@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,300);
@font-face {
    font-family: 'BMWRegular';
    src: url('../fonts/BMWRg.ttf'), url('../fonts/BMWRg.eot');
}
@font-face {
    font-family: 'BMWBold';
    src: url('../fonts/BMWRgBd.ttf'), url('../fonts/BMWRgBd.eot');
}
@font-face {
    font-family: 'BMWLight';
    src: url('../fonts/BMWLt.ttf'), url('../fonts/BMWLt.eot');
}

html, body {
    position: relative;
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
}
a{
    outline: none;
}
a.fa{
    outline: none;
}
.container {
    width: 100%;
}
@media(min-width: 1100px) {
    .container {
        width: 1100px;
    }
}
@media(min-width: 1500px)
{
    .container{
        width: 1170px;
    }
}
.navbar-default{
    border: none;
    -webkit-box-shadow: 0 -2px 10px 0 rgba(0,0,0,1);
    box-shadow: 0 -2px 10px 0 rgba(0,0,0,1);
    background-color: #FFF;
    text-transform: uppercase;
    margin: 0px;
    position: fixed;
    right: 0px;
    left: 0px;
}
.navbar-default .navbar-brand{
    height: auto;
    outline: none;
    padding: 10px 10px 10px 0px;
}
.navbar-brand img{
    height: 50px;
}
#topNav{
    margin: 5px 0px;
    font-size: 14px;
}
.navbar-default .navbar-nav > li > a{
    outline: none;
    padding-left: 5px;
    padding-right: 10px;
    font-weight: 600;
    color: #000;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #d3ae79;
    background-color: inherit;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
    color: #d3ae79;
}
.navbar-right{
    margin-right: 0px;
}
.navbar-toggle{
    margin-top: 13px;
}
#topLinks li a {
    font-size: 10px;
    padding: 10px 5px;
}
.navbar-default .navbar-brand{
    padding: 5px 5px 5px 0px;
}
@media(min-width: 1100px){
    .navbar-default .navbar-nav > li > a {
        padding-left: 10px;
        padding-right: 10px;
    }
    #primary{
        position: relative;
    }
    #primary.navbar-default .navbar-brand{
        padding: 10px 10px 10px 0px;
    }
    .navbar-default .navbar-brand{
        width: 233px;
    }
    #primary .navbar-brand img{
        height: 80px;
    }
    #primary #topNav {
        margin: 25px 0px;
        font-size: 16px;
    }
    #primary #topNav {
        font-size: 16px;
    }
}
#secondary{
    display: none;
}

/* SLIDER */
.swiper-container {
    width: 100%;
    height: 100%;
    z-index: -1;
}
.swiper-slide {
    background-position: center top;
    background-size: cover;
}
#footer{
    padding: 40px 0px;
    border-top: 1px solid #111;
}
#footer .form-control {
    height: 40px;
    margin-bottom: 10px;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 0px;
}
#footer input[type="submit"]{
    float: right;
}
#newsletter{
    max-width: 430px;
    margin: 0 auto;
}
#newsletter .btn{
    width: 100%;
}
@media (min-width: 900px){
    #newsletter .btn{
        width: auto;
    }
    #newsletter{
        max-width: none;
    }
}
#social .logo{
    height: 80px;
    margin-bottom: 20px;
}
#social{
    text-align: center;
    margin-top: 20px;
}
@media (min-width: 900px){
    #social {
        margin: 0px;
    }
}
a.fa-social{
    font-size: 24px;
    width: 54px;
    height: 54px;
    padding: 15px;
    color: #fff;
    background: #111;
    border-radius: 50%;
    text-decoration: none;
    margin-right: 15px;
}
a.fa-social:last-child{
    margin-right: 0px;
}
a.fa-social:hover, a.fa-social:focus{
    background: #d3ae79;
}
#contact{
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}
@media (min-width: 900px){
    #contact {
        text-align: right;
        margin: 0px;
    }
}
.form-control:focus {
    border-color: #d3ae79;
    outline: 0px none;
    box-shadow: 0px 1px 1px rgba(211, 174, 121, 0.075) inset, 0px 0px 8px rgba(211, 174, 121, 0.6);
}
.btn-primary{
    padding: 8px 14px;
    border-radius: 0px;
    border: none;
    background: #111;
    color: #fff;
}
.btn-primary:hover, .btn-primary:focus{
    background: #d3ae79;
    border: inherit;
}
#footer1{
    background: #111;
    color: #fff;
    padding: 15px 0px;
}
#up{
    float: right;
}
#footer1 a{
    text-decoration: none;
    color: #dedede;
}
#footer1 a:hover{
    color: #fff;
}


/* BOXY S HOLKAMA */
.wrapper {
    margin-top: 2em;
    margin-bottom: 2em;
}
.girl {
    text-align: center;
    color: black;
    /*height: 450px;*/
    padding: 25px;
}
#leftGirl{
    padding-left: 0px;
}
#rightGirl{
    padding-right: 0px;
}
#centerGirl {
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.girl img {
    /*max-height: 280px;*/
    width: 100%;
    display: block;
}
#centerGirl .girlPopisek{
    line-height: 18px;
}
.girlPopisek {
    font-family: "BMWRegular";
    font-size: 22px;
    text-transform: uppercase;
    text-align: left;
    line-height: 25px;
    margin: 20px 0;
    height: 82px;
}
.girlPopisekBig {
    font-family: "BMWBold";
    font-size: 40px;
}
/* do prdele už se vším kurva to neni možne*/
.girlTextLeft {
    display: inline-block;
    clear: both;
    text-align: right;
    width: 30%;
}
.girlMore {
    text-align: center;
    font-family: "BMWLight";
    color: #d4af7a;
    border-bottom: 1px solid #d4af7a;
    padding-bottom: 2px;
    width: 5em;
}

