@font-face {
    font-family: 'Josefin Sans';
    src: url('../fonts/JosefinSans-SemiBold.ttf');
}
@font-face {
    font-family: 'BMWRegular';
    src: url('../fonts/BMWRg.ttf'), url('../fonts/BMWRg.eot');
}
@font-face {
    font-family: 'BMWBold';
    src: url('../fonts/BMWRgBd.ttf'), url('../fonts/BMWRgBd.eot');
}
@font-face {
    font-family: 'BMWLight';
    src: url('../fonts/BMWLt.ttf'), url('../fonts/BMWLt.eot');
}

html, body {
    position: relative;
    height: 100%;
    font-family: 'Josefin Sans';
}
body {
    font-family: "BMWLight";
    color: #000;
}
hr{
    border-top: 1px solid;
}
a{
    color: #000;
    outline: none;
}
a:active, a:focus, a:hover{
    color: #d3ae79;
    outline: none;
}

#content{
    padding: 60px 0px 40px 0px;
}
@media(min-width: 1100px)
{
    #content {
        padding: 120px 0px 40px 0px;
        min-height: 700px;
    }
}
.navbar-default .container {
    width: 100%;
}
@media(min-width: 1100px) {
    .navbar-default .container {
        width: 1100px;
    }
}
@media(min-width: 1500px)
{
    .navbar-default .container{
        width: 1170px;
    }
}

.navbar-fixed-top, .navbar-fixed-bottom {
    z-index: 1000;
}
.navbar-default{
    font-family: 'Josefin Sans';
    border: none;
    -webkit-box-shadow: 0 -2px 10px 0 rgba(0,0,0,1);
    box-shadow: 0 -2px 10px 0 rgba(0,0,0,1);
    background-color: #FFF;
    text-transform: uppercase;
    margin: 0px;
    position: fixed;
    right: 0px;
    left: 0px;
}
.navbar-default .navbar-brand{
    height: auto;
    outline: none;
    padding: 10px 10px 10px 0px;
}
.navbar-brand img{
    height: 50px;
}
#topNav{
    margin: 5px 0px;
    font-size: 14px;
}
.navbar-default .navbar-nav > li > a{
    outline: none;
    padding-left: 5px;
    padding-right: 10px;
    font-weight: 500;
    color: #000;
}
.navbar-default .container{
    position: relative;
}
@media(min-width: 1100px){
    #topLinks{
        position: absolute;
        right: 0;
    }
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #d3ae79;
    background-color: inherit;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
    color: #d3ae79;
}
.navbar-right{
    margin-right: 0px;
}
.navbar-toggle{
    margin-top: 13px;
}
#topLinks li a {
    font-size: 10px;
    padding: 10px 5px;
}
.navbar-default .navbar-brand{
    padding: 5px 5px 5px 0px;
}
@media(min-width: 1100px){
    .navbar-default .navbar-nav > li > a {
        padding-left: 10px;
        padding-right: 10px;
    }
    #primary{
        position: absolute;
    }
    #primary.navbar-default .navbar-brand{
        padding: 10px 10px 10px 0px;
    }
    .navbar-default .navbar-brand{
        width: 233px;
    }
    #primary .navbar-brand img{
        height: 80px;
    }
    #primary #topNav {
        margin: 25px 0px;
        font-size: 16px;
    }
    #primary #topNav {
        font-size: 16px;
    }
}
#secondary{
    display: none;
}

/* SLIDER */
.swiper-container{
    z-index: -1;
    padding-top: 60px;
    margin-bottom: 40px;
    width: 100%;
    height: 70%;
}
@media(min-width: 768px){
.swiper-container {
    height: 100%;
}
}
@media(min-width: 1100px)
{
    .swiper-container {
        padding-top: 100px;
    }
}
.swiper-slide {
    background-position: center top;
    background-size: cover;
}
.mouse {
    z-index: 1;
    display: none;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
@media(min-width: 768px){
    .mouse{
        display: block;
    }
}
.mouse img {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 50px;
    cursor: pointer;
}


#footer{
    padding: 40px 0px;
    border-top: 1px solid #111;
    position: relative;
}
#footer .form-control {
    height: 40px;
    margin-bottom: 10px;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 0px;
}
.form-control {
    height: 40px;
    margin-bottom: 10px;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 0px;
}
#footer input[type="submit"]{
    float: right;
}
#newsletter{
    max-width: 430px;
    margin: 0 auto;
}
#newsletter .caption{
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    position: absolute;
    top: -75px;
    left: -20px;
    padding: 0px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
}
#newsletter .btn{
    width: 100%;
}
@media (min-width: 900px){
    #newsletter .btn{
        width: auto;
    }
    #newsletter{
        max-width: none;
    }
}
#social .logo{
    height: 80px;
    margin-bottom: 20px;
}
#social{
    text-align: center;
    margin-top: 20px;
}
@media (min-width: 768px){
    #social {
        margin: 0px;
    }
}
a.fa-social{
    font-size: 24px;
    width: 54px;
    height: 54px;
    padding: 15px;
    color: #fff;
    background: #111;
    border-radius: 50%;
    text-decoration: none;
    margin-right: 15px;
}
a.fa-social:last-child{
    margin-right: 0px;
}
a.fa-social:hover, a.fa-social:focus{
    background: #d3ae79;
}
#contact{
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}
@media (min-width: 768px){
    #contact {
        text-align: right;
        margin: 0px;
    }
}
.form-control:focus {
    border-color: #d3ae79;
    outline: 0px none;
    box-shadow: 0px 1px 1px rgba(211, 174, 121, 0.075) inset, 0px 0px 8px rgba(211, 174, 121, 0.6);
}
.btn-primary{
    padding: 10px 15px;
    border-radius: 0px;
    border: none;
    background: #111;
    color: #fff;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn{
    opacity: 0.75;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .btn-primary.focus:active, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled.focus, .btn-primary.focus[disabled], fieldset[disabled] .btn-primary.focus{
    background: #d3ae79;
    border: 0px;
    outline: none;
}
.btn-default{
    padding: 8px 35px;
    border-radius: 0px;
    border: 1px solid #d3ae79;
    background: #fff;
    color: #d3ae79;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default.focus:active, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus, .btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled.focus, .btn-default.focus[disabled], fieldset[disabled] .btn-default.focus{
    background: #d3ae79;
    color: #fff;
    border: 1px solid #d3ae79;
}
#footer1{
    background: #111;
    color: #fff;
    padding: 15px 0px;
    position: relative;
}
#footer1 hr{
    margin: 10px 0px;
}
#footer1 .container{
    position: absolute;
    top: 14px;
    left: 0px;
    right: 0px;
}
#footer1 .container span{
    background: #111;
    padding: 0px 10px;
    position: relative;
}
#footer1 .container span.left{
    float: left;
    left: -10px;
}
#footer1 .container span.right{
    float: right;
    left: 10px;
}
#footer1 a{
    text-decoration: none;
    color: #dedede;
}
#footer1 a:hover{
    color: #fff;
}


.wrapper {
    margin-top: 3em;
    margin-bottom: 2em;
}
.grid .row{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.grid-shop{
    margin: 50px 0px;
    clear: both;
}
.grid-shop .box{
    border-top: none;
    border-bottom: 1px solid black;
}
.grid-shop .row{
    margin: 0px;
    display: flex;
}
.grid-shop .row:first-of-type .box{
    border-top: 1px solid black;
}
.grid-shop .box{
    border-right: 1px solid black;
    padding: 30px;
}
.grid-shop .box:first-of-type{
    border-left: none;
}
.grid-shop .box:nth-child(4n){
    border-right: none;
}
.box {
    text-align: center;
    color: black;
    padding: 25px;
}
@media(min-width: 768px){
    .box.center{
        border-left: 1px solid #111; border-right: 1px solid #111;
    }
    .box.right{
        border-right: 1px solid #111;
    }
}
.box img {
    width: 100%;
    height: auto;
}
.box .caption{
    margin-top: 10px;
    font-family: "BMWRegular";
    font-size: 18px;
    line-height: 24px;
    margin-top: 20px;
    margin-bottom: 5px;
    height: 50px;
}
.price-box{
    font-size: 25px;
    margin-bottom: 10px;
}
.box .caption b{
    font-family: "BMWBold";
    font-weight: 500;
}
.box a{
    text-align: center;
    font-family: "BMWLight";
    color: #d4af7a;
    font-size: 18px;
}
#services .caption{
    font-family: 'BMWRegular';
    font-size: 22px;
    text-transform: uppercase;
    text-align: left;
    line-height: 25px;
    margin: 20px 0px;
    min-height: 81px
}
#services b{
    font-size: 40px;
}
#aboutLashesHome {
    font-family: "BMWLight";
}
#aboutLashesHome h1 {
    font-family: "BMWRegular";
    font-size: 40px;
    text-transform: uppercase;
    color: #d3ae79;
}
#aboutLashesHome p {
    font-family: "BMWRegular";
    font-size: 18px;
    line-height: 1.1em;
}
.list-group {
    padding-left: 0px;
    margin-bottom: 20px;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #FFF;
    border: 1px solid #DDD;
}
a.list-group-item, button.list-group-item {
    color: #555;
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 2;
    color: #FFF;
    background-color: #d4af7a;
    border-color: #d4af7a;
}
.list-group-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.list-group-item:last-child {
    margin-bottom: 0px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.product-image{
    padding-top: 20px;
    width: 100%;
}
.more-views ul{
    list-style-type: none;
    padding-left: 0px;
    margin: 5px 5px 0px 0px;
}

/* WORDPRESS*/

#content>.page-title {
    display: none;
}
.show-this-title-please {
    display: block!important;
}
.form-inline button{
    position: relative;
    top: -5px;
}
#jsmeVioletHr {
    background-color: #d4af7a;
    height:1px;
}
#jsemEkaterinaH {
    font-size: 28px;
    margin: 20px 0;
    font-family: "BMWRegular";
}
#jsmeEkaterinap {
    font-size: 18px;
    vertical-align: bottom;
}
#jsmeVioletPopis {
    font-size: 18px;
    padding: 20px 0;
}
.jsmeRadekLidi {
    margin-top: 100px;
}
.jsmeRadekLidi div div img {
    border-bottom: 2px solid #d4af7a;
}
.jsmeRadekLidi div p {
    text-align: center;
    padding: 5px;
    font-family: "BMWLight";
    font-size: 16px;
    clear:both;
}
.post_list .post:first-of-type{
    border: none;
}
.post_list .post{
    padding: 50px 0px;
    border-top: 1px solid #000;
}
.post h1{
    font-size: 24px;
}
.post .img-responsive{
    width: 100%;
}
.btn-group{
    display: flex;
    justify-content: center;
}
span.btn{
    cursor: default;
}

img[class*="wp-image-"]{
    margin-right: 10px;
    margin-bottom: 10px;
}
.sl-overlay{
    background: #000;
}
.sl-wrapper button{
    color: #fff;
}

/*KURZY*/
.kurzH {
    margin: 20px auto;
}
.kurzHMalym {
    font-family:"BMWLight";
    font-size: 36px;
}
.kurzHVelkym {
    font-size: 53px;
    font-family: "BMWLight";
    margin-left: 5px;
}
.kurzPopis {
    font-family: "BMWLight";
    font-size: 18px;
    line-height: 30px;
    padding: 20px;
}
.kurzPopisL {
    padding-top: 30px;
}
.kurzPopisS {
    padding-top: 60px;
}
.kurzPopis a {
    float: right;
    margin-top: 10px;
    text-transform: lowercase;
    font-size: 20px;
    padding-left:  20px;
    padding-right:  20px;


}
.border-bottom {
    padding-top:30px;
    padding-bottom: 60px;
    border-bottom: 1px solid black;
}
.kurzImg {
    padding: 20px;
}
@media (max-width: 991px) {
    .kurzImg {
        margin-top: 20px;
        margin-bottom: 20px;
        display: block;
        clear: both;
    }
    .kurzPopis {
        clear: both;
        text-align: center;
    }
    .kurzHMalym {
        font-size: 40px;
    }
    .kurzDetailContainer h1{
        font-size: 38px!important;
    }
}
/* CEZET Map v2.2		          */
/* 8.3.2013 (c) Moravio.com 	  */
/* Licence CC BY 				  */

/* ============================== */
/* obecne nastaveni mapy          */
/* ============================== */

.cezetmap{
    /* width & height ratio: 1.734 */
    width: 800px;
    height: 461px;
    margin: 30px auto;
}

.cezetmap .kraje{
    font-size: 800px;
}


.cezetmap .zlinsky                   { color: #AAA; }
.cezetmap .moravskoslezsky           { color: #AAA; }
.cezetmap .jihomoravsky              { color: #AAA; }
.cezetmap .olomoucky                 { color: #AAA; }
.cezetmap .vysocina                  { color: #AAA; }
.cezetmap .pardubicky                { color: #AAA; }
.cezetmap .kralovehradecky           { color: #AAA; }
.cezetmap .jihocesky                 { color: #AAA; }
.cezetmap .hlavni-mesto-praha        { color: #AAA; }
.cezetmap .stredocesky               { color: #AAA; }
.cezetmap .liberecky                 { color: #AAA; }
.cezetmap .plzensky                  { color: #AAA; }
.cezetmap .ustecky                   { color: #AAA; }
.cezetmap .karlovarsky               { color: #AAA; }

.cezetmap .kraj_hover                { color: #d3ae79;; }
.cezetmap .kraj_active               { color: #6A4113; }

.legenda .objem{
    background-color: rgb(106, 65, 19);
    color: #fff;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
}
.fa.objem{
    color: rgb(106, 65, 19);
}
.legenda .d_3d{
    background-color: rgb(202, 139, 0);
    color: #fff;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
}
.fa.d_3d{
    color: rgb(202, 139, 0);
}
.legenda .dokonale_rasy{
    background-color: rgb(211, 174, 121);
    color: #fff;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
}
.fa.dokonale_rasy{
    color: rgb(211, 174, 121);
}
.kraj h2 {
    padding-left: 10px;
    border-left: 2px solid #d3ae79;
}

/* ESHOP */
#eshopPopis {
    font-family: "BMWLight";
    font-size: 17px;
    margin: 20px auto;
}
.displayBlock {
    display: block;
}
.clearBoth {
    clear: both;
}
.addToWhatever {
    margin-top:30px;
}
.addToInline {
    clear:both;
    display: block;
    float: right;
    margin: auto 10px;
    font-size: 15px;
}
.addToInline div {

}
.availability {
    margin-top: 40px;
    font-size: 23px;
    font-family: "BMWLight";
}
.availabilityStatus {
    text-transform: uppercase;
    font-family: "BMWBold";
    color: #d2ac67;
}
.produktDetailH {
    font-size: 25px;
    text-align: right;
    font-family: "BMWBold";
    border-bottom: 1px solid black;
    padding-bottom:8px;
    margin-top: 30px;
}
.produktDescriptionP {
    padding: 20px;
    text-align: center;
    font-size: 18px;
    font-family: "BMWLight";
}
.produktParametry {
    font-size: 20px;
}

/* DETAIL KURZU */
.kurzDetailContainer h1 {
    font-size:60px;
    font-family: "BMWRegular";
    margin-bottom: 0;
}
.kurzDetailContainer h2 {
    font-size: 35px;
}
.kurzDetailContainer h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: "BMWLight";
    font-size:25px;
}
.basicCouseDesc {
    margin-top: 20px;
    font-size:18px;
}
.kurzDetailContainer p, .kurzDetailContainer ul {
    font-size: 18px;
}
.kurzDetailContainer ul {
    padding-left: 55px;
    padding-right: 50px;
}
.kurzRowImage {
    margin-top: 30px;

}















